<section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Our Services</h2>
            <span class="line"></span>
            <p></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-6 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-signal service-icon"></i>
                  <h4 class="service-title">{{ site.service.pj_1 }}</h4>
                  <p>{{ site.service.sj_1 }}</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-6 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-wrench service-icon"></i>
                  <h4 class="service-title">{{ site.service.pj_2 }}</h4>
                  <p>{{ site.service.sj_2 }}</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-6 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-building service-icon"></i>
                  <h4 class="service-title">{{ site.service.pj_3 }}</h4>
                  <p>{{ site.service.sj_3 }}</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-6 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-laptop service-icon"></i>
                  <h4 class="service-title">{{ site.service.pj_4 }}</h4>
                  <p>{{ site.service.sj_4 }}</p>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
