<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body style="
-webkit-filter: grayscale(90%);
-moz-filter: grayscale(90%);
-ms-filter: grayscale(90%);
-o-filter: grayscale(90%);
filter: gray;
filter: grayscale(90%);
">
    <!-- BEGAIN PRELOADER -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- END PRELOADER -->

  <!-- SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
    {% include navigation.html %}
    {% if site.slider %}
    {% include slider.html %}
    {% endif %}
    {% if site.about %}
    {% include about.html %}
    {% endif %}
    {% if site.feature %}
    {% include feature.html %}
    {% endif %}
    {% if site.counter %}
    {% include counter.html %}
    {% endif %}

    {% if site.counter %}
    {% include counter.html %}
    {% endif %}
    {% if site.service %}
    {% include service.html %}
    {% endif %}
    {% if site.our-team %}
    {% include our-team.html %}
    {% endif %}
    {% if site.testimonial %}
    {% include testimonial.html %}
    {% endif %}
    {% if site.clients-brand %}
    {% include clients-brand.html %}
    {% endif %}
    {% if site.latest-news %}
    {% include latest-news.html %}
    {% endif %}
    {% if site.subscribe %}
    {% include subscribe.html %}
    {% endif %}
    {% include contact.html %}

    {% include footer.html %}
    {% include script.html %}
  </body>
</html>
